// print styles

* .container, body{
	min-width:1200px !important;
}
.col-md-6.col-xs-12{
	width:50% !important;
}
.col-md-4{
	width:33.33333% !important;
}
.col-md-8 {
	width: 66.66666667% !important;
}
.hidden-sm{
	display:block !important;
}
a[href]:after {
	content: none !important;
}
.tier-1, .tier-2, .products-menu, .mobile-nav{
	display:none !important;
}
#dashboard .links, div.background{
	display:none;
}
.violator{
	display:none !important;
}
.desktop-menu{
	display:none !important;
}
.hero .main-area{
	padding:24px 15px
}
.hero h1{
	margin-top:0 !important;
}
.hero.short{
	height:auto !important;
}
.headline-lg.container a.btn, .article_sidebar{
	display:none;
}
.col-md-3{
	width:25% !important;
}
.col-md-9{
	width:75% !important;
}
#request{
	display:none !important;
}
blockquote span, blockquote, blockquote div{
	color:#fff !important;
}
.col-md-2 {
	width: 16.66666667% !important;
}
blockquote.tall{
	display:none;
}
.meplus-trigger-container, .video_placeholder{
	display:none;
}
